<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base.html::Layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<section class="banner">
		<div class="banner1">
			<h1 class="text1">This is home page</h1>
			<p>Start collecting your contacts in very smarter way. We provide very efficient and smarter way of Handling
				contacts.
			</p>
			<button class="Button1">Get Start</button>
		</div>
	</section>
</body>

</html>